<style>
    input {
      background-color: gainsboro;
      border-radius: 10px 10px 10px 10px;
    }
    select {
      background-color: gainsboro;
    }
    </style>


<section  *ngIf = "show" class="container">
  <ul class="nav nav-pills">
    <li class="getClass('1')">
      <a (click)="goTo('detailsForm','companyContact')" data-toggle="tab">Company Contact</a>
    </li>
    <li id="tab2"><a (click)="goTo('detailsForm','contact')" data-toggle="tab">Contact
        Information</a>
    </li>
    <li><a (click)="goTo('ert','companyDetails')" data-toggle="tab">Company Details</a>
    </li>
    <li><a (click)="goTo('ert','others')" data-toggle="tab">Other Information</a>
    </li>
    <li ><a (click)="goTo('ert','files')" data-toggle="tab"> Documents</a>
    </li>
  </ul>
 

<div class="ui raised very padded text container segment">
  <div class = "form-row">
      <div *ngFor="let promoter of promoters" class="col-md-6">
          <label style="text-align: right;" class="control-label" for="textinput">Promoter</label>
          <input id="textinput" name="textinput" type="text" class="form-control input-md" (input)="test()" [(ngModel)]="promoter.promoter">

      </div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-row">
    <div class="col-md-12 col-md-offset-7">
        <button id="singlebutton" type="button" class="btn btn-primary" (click)="addPromoter()">Add more
            Promoters</button>
    </div>
</div>
</div>

<div class="ui raised very padded text container segment">
  <div *ngFor = "let maufacturer of manufacturers">
    <div class="form-row">
      <div class = "col-md-6">
          <label style="text-align: right;" class="control-label" for="textinput">Location</label>
          <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.location">
      </div>
      <div class = "col-md-6">
          <label style="text-align: right;" class="control-label" for="textinput">Product Type</label>
          <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.product_type">
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="form-row">
        <div class = "col-md-6">
            <label style="text-align: right;" class="control-label" for="textinput">Number of Machines</label>
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.num_of_machines">
        </div>
        <div class = "col-md-6">
            <label style="text-align: right;" class="control-label" for="textinput">Mothly Production Capacity</label>
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.monthly_production_capacity">
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="form-row">
          <div class = "col-md-6">
              <label class="control-label" for="textinput">Technical Workers</label>
              
                <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.technical_workers">
          </div>
          <div class = "col-md-6">
              <label style="text-align: right;" class="control-label" for="textinput">Certifications</label>
              <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.certifications">
          </div>
        </div>
  </div>
  <br>
  <br>
  <br>
  
<div class= "form-row" >
  <div class="col-md-12 col-md-offset-6">
      <button id="singlebutton" type="button" class="btn btn-primary" (click)="addManufacturers()">Add more
          Manufactureres</button>
  </div>
</div>
</div>

<div class="ui raised very padded text container segment">
    <div *ngFor = "let sale of sales">
        <div class="form-row">
            <div class = "col-md-6">
                <label style="text-align: right;" class="control-label" for="textinput">Product Supplied</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.product_supplied">

            </div>
            <div class = "col-md-6">
                <label style="text-align: right;" class="control-label" for="textinput">Turnover</label>
                <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.turnover">
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="form-row">
              <div class = "col-md-6">
                  <label style="text-align: right;" class="control-label" for="textinput">Percent of Total Sales</label>
                  <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.business_percentage">

              </div>
              <div class = "col-md-6">
                  
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class = "form-row">
              <div class="col-md-offset-7">
                  <button id="singlebutton" type="button" class="btn btn-primary" (click)="addSales()">Add more
                      Sales</button>
              </div>
            </div>
      </div>
</div>

 <div class="ui raised very padded text container segment">
    <div class="form-row">
        <div class="col-md-6">
            <div class="col-md-4 col-md-offset-9">
                <button id="singlebutton" (click)="submit(personalForm)" class="ui blue primary button">Save</button>
              </div>

        </div>
        <div class="col-md-6">
            
            <button id="singlebutton" (click)="superSubmit('')" class=" negative ui button">Submit</button>
            
        </div>
      </div>
 </div>
      <!-- <div class="form-group" *ngFor="let promoter of promoters">
        <label class="col-md-4 control-label" for="textinput">Promoter</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" class="form-control input-md" (input)="test()" [(ngModel)]="promoter.promoter">

        </div>
      </div> -->
      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4 col-md-offset-7">
          <button id="singlebutton" type="button" class="btn btn-primary" (click)="addPromoter()">Add more
            Promoters</button>
        </div>
      </div> -->


      <!-- <button (click) = "addPromoter()" >Add Promoter</button> -->
      
    
      

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Location</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.location">

          </div>
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Product Type at this manufacturer</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.product_type">

          </div>
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Number of Machines</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.num_of_machines">

          </div>
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Monthly Production Capacity</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.monthly_production_capacity">

          </div>
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Technical Workers</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.technical_workers">

          </div>
        </div> -->

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">Certifications</label>
          <div class="col-md-4">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="maufacturer.certifications">

          </div>
        </div> -->




      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4 col-md-offset-7">
          <button id="singlebutton" type="button" class="btn btn-primary" (click)="addManufacturers()">Add more
            Manufactureres</button>
        </div>
      </div> -->

      <hr>

       


          <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Product Supplied</label>
            <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.product_supplied">

            </div>
          </div> -->

          <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Turnover</label>
            <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.turnover">

            </div>
          </div> -->

          <!-- <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Percent of total sales</label>
            <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" class="form-control input-md" [(ngModel)]="sale.business_percentage">

            </div>
          </div> -->


       

        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="singlebutton"></label>
          <div class="col-md-4 col-md-offset-7">
            <button id="singlebutton" type="button" class="btn btn-primary" (click)="addSales()">Add more
              Sales</button>
          </div>
        </div> -->
     
    
    <!-- <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4 col-md-offset-1">
        <button id="singlebutton" (click)="submit('personalForm')" class="btn btn-primary">Save</button>
      </div>
    </div>
 

  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4 col-md-offset-1">
      <button id="singlebutton" (click)="superSubmit('')" class="btn btn-primary" >Submit</button>
    </div>
  </div> -->


</section>