<section class="imgd">
<div>
		<div class="ui centered grid container" style="position:relative; margin-top:175px;">
		  <div class="nine wide column">

			<div class="ui fluid card">
			  <div class="content">
					<h4 class="ui dividing header"> <i class="unlock alternate icon"></i> Login</h4>
			  <form class="ui form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
				<div class="field">
				  <label for="inputEmail3" >Username</label>
				  <input type="text" id="inputEmail3" #emailref="ngModel"  required name="username" ngModel>
				  <!-- <div *ngIf="nameerror" class="alert alert-danger" style="margin-top: 3px;">
				  	Enter a valid username.
				  </div> -->

				</div>
				<div class="field">
						<label for="inputPassword3" >Password</label>
				  <input type="password" #passref="ngModel" required  name="password" ngModel>


				</div>
				<button [disabled]="!loginForm.valid" class="ui primary labeled icon button" *ngIf="!dis">
				  <i class="unlock alternate icon"></i>
				  Login
				</button>
				 <button  *ngIf="dis" class="ui primary disabled loading button">Loading</button>
			  </form>
			  &nbsp;

			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>



